@charset "UTF-8";
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 공통 */
body {font-size:26px; color:#000; font-family:"Noto Sans KR", sans-serif; font-weight:400; letter-spacing:-.25px;}
body, html {height:100%; background:#fff;}
input {font-family:"Noto Sans KR", sans-serif; font-weight:400; font-size:16px; outline:0; padding:0; color:#221f1f;}
button {outline:0; border:0 none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer}
div[contenteditable=true] {outline:none; border:0 none;}
a {outline:none; select-dummy:expression(this.hideFocus=true); -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent;}
em {font-style:normal;}
*:focus {outline:none;}

/* 22.10.31 이현진 추가 */

/* 컨텐츠 */
.fp-tableCell {vertical-align:middle;}
#wrap {width:100%;}
.txtHide {font-size:0; line-height:0; overflow:hidden; text-indent:-9999px;}
.section {position:relative; overflow:hidden;}
.section .secTxt .secTit {display:block; font-size:68px; line-height:1; font-weight:900; text-align:center;}
.inner {width:100%; max-width:1120px; margin:0 auto;} /* 22.12.06 이현진 width 수정, max-width 추가 */

/* section1 */
.section1 {width:100%; background:url('../images/common/bg_section1.jpg') no-repeat center center / cover;}
.section1:before {content:''; position:absolute; bottom:40px; left:0; right:0; margin:0 auto; width:32px; height:17px; background:url('../images/common/bg_ico_arr1.png') top center no-repeat;
-moz-animation:scroll 1.5s ease-in-out infinite; -webkit-animation:scroll 1.5s ease-in-out infinite; animation:scroll 1.5s ease-in-out infinite; opacity:0;}
#header {position:absolute; top:0; left:0; width:100%; height:79px; border-bottom:1px solid rgba(255,255,255,.3);}
#header .inner {position:relative; height:100%; display:flex; justify-content:space-between; align-items:center;}
#header h1 {height:100%;}
#header h1 a {display:block; width:100%; height:100%; line-height:79px;}
#header h1 a img {vertical-align:baseline;}
#header .nav {font-size:0;}
#header .nav li {display:inline-block;}
#header .nav li + li {margin-left:60px;}
#header .nav li a {display:block; font-size:22px; color:#fff; line-height:79px; font-weight:700;}
.marketMainTxt {text-align:center; transform:translateY(40%); opacity:0;}
.marketMainTxt h2 {font-size:84px; color:#fff; line-height:1; font-weight:900; margin:25px 0 22px;}
.marketMainTxt p {color:#fff; line-height:44px; font-weight:300;}
.marketMainTxt .snsDown {display:flex; justify-content:center; margin-top:39px;}
.marketMainTxt .snsDown li {margin:0 10px;}
.marketMainTxt .snsDown li a {display:block; width:290px; color:#fff; line-height:98px; border:1px solid #fff; border-radius:50px;}
.marketMainTxt .snsDown li a span {padding-left:40px; background:url('../images/common/bg_ico_ios.png') left 8px no-repeat;}
.marketMainTxt .snsDown li:last-child a span {background:url('../images/common/bg_ico_aos.png') left 8px no-repeat;}
.section1.show:before {opacity:1; transition:.4s ease-in-out .4s;}
.section1.show .marketMainTxt {transform:translateY(0); opacity:1; transition:.4s ease-in-out;}

/* section2 */
.section2 {background:#eff0f1;}
.section2 .fp-tableCell {vertical-align:top;}
.section2 .secTxt {position:relative; text-align:center; padding-top:6.5vw;}
.section2 .secTxt .secTit {font-size:72px;}
.section2 .secTxt p {color:#888; line-height:44px; margin-top:21px;}
.sec2Con {content:''; position:absolute; bottom:-483px; left:0; right:0; margin:0 auto; width:805px; height:805px; background:#ffeb0e; border-radius:100%; opacity:0;}
.sec2Con .sec2Phone {position:absolute; bottom:-100px; left:0; right:0; margin:0 auto; width:100%; height:28.85vw; text-align:center; background:url('../images/common/bg_section2_img.png') no-repeat bottom center / contain; z-index:1;}
.section2.show .sec2Con {opacity:1; transition:.35s ease-in-out;}
.section2.show .sec2Con .sec2Phone {bottom:483px; transition:.6s ease-in-out .3s;}

/* section3 */
.section3 {background:#ffeb0e;}
.section3 .secTxt {text-align:center; margin-bottom:143px;}
.section3 .secTxt .secTit {position:relative; display:inline-block; font-size:64px; z-index:1;}
.section3 .secTxt .secTit:before {content:''; position:absolute; top:-50px; left:308px; width:180px; height:141px; background:url('../images/common/bg_ico_check.png') top center no-repeat; z-index:-1;}
.marketSlider .swiper-slide {width:300px;}
.marketSlider .swiper-slide a {display:block; width:100%; height:100%;}
.marketSlider .swiper-slide .imgWrap {width:300px; height:300px; background:#fff; border-radius:30px; overflow:hidden; box-shadow:0 0 20px rgba(0,0,0,.05);}
.marketSlider .swiper-slide .imgWrap img {width:100%; height:100%; onject-fit:cover;}
.marketSlider .swiper-slide .marketName {display:block; font-size:30px; color:#000; line-height:1; font-weight:500; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center; margin-top:30px;}
.section3.show .secTxt .secTit:before {-moz-animation:twinkle .6s ease 2; -webkit-animation:twinkle .6s ease 2; animation:twinkle .6s ease 2;}

/* section4 */
.section4 .secTxt {margin-bottom:72px;}
.section4 .secTxt .secTit span {position:relative; color:#01a8ba; z-index:1;}
.section4 .secTxt .secTit span:before {content:''; position:absolute; bottom:0; left:-10px; width:380px; height:26px; background:url('../images/common/bg_ico_check2.png') top center no-repeat; z-index:-1;}
.section4 .reasonCon li {font-size:40px; color:#fff; line-height:150px; font-weight:500; padding:0 79px; background:#1a1a1a url('../images/common/bg_section4_img1.png') 92% center no-repeat; border-radius:25px;}
.section4 .reasonCon li span {font-weight:900;}
.section4 .reasonCon li + li {margin-top:30px;}
.section4 .reasonCon li:nth-child(2) {background:#ffeb0e url('../images/common/bg_section4_img2.png') 92% center no-repeat; color:#000;}
.section4 .reasonCon li:last-child {background:#01a8ba url('../images/common/bg_section4_img3.png') 92% center no-repeat;}
.section4.show .reasonCon li {-moz-animation:shake .7s ease; -webkit-animation:shake .7s ease; animation:shake .7s ease;}
.section4.show .reasonCon li:nth-child(2) {animation-delay:.35s;}
.section4.show .reasonCon li:last-child {animation-delay:.7s;}

/* section5 */
.section5 {background:#01a8ba;}
.section5 .secTxt {margin-bottom:170px;}
.section5 .secTxt .secTit {color:#fff;}
.section5 .secTxt .secTit span {position:relative; z-index:1;}
.section5 .secTxt .secTit span:before {content:''; position:absolute; bottom:2px; left:-2px; width:370px; height:119px; background:url('../images/common/bg_ico_check3.png') top center no-repeat; z-index:-1;}
.section5 .orderViewList {position:relative; display:flex; justify-content:space-between; z-index:1;}
.section5 .orderViewList:before {content:''; position:absolute; top:50%; left:50%; transform:translate(-150%, -50%); width:1525px; height:184px; background:url('../images/common/bg_section5_arr.png') top center no-repeat; z-index:-1; opacity:0;}
.section5 .orderViewList li {width:250px; text-align:center; border-radius:25px; padding:40px 0 192px; background:#fff url('../images/common/bg_section5_img1.png') center 186px no-repeat; transform:rotateY(90deg); transition:.4s ease-in-out;}
.section5 .orderViewList li:nth-child(2) {background:#fff url('../images/common/bg_section5_img2.png') center 183px no-repeat;}
.section5 .orderViewList li:nth-child(3) {background:#fff url('../images/common/bg_section5_img3.png') center 188px no-repeat;}
.section5 .orderViewList li:last-child {background:#fff url('../images/common/bg_section5_img4.png') center 192px no-repeat;}
.section5 .orderViewList li span {display:inline-block; width:96px; height:40px; line-height:43px; font-size:18px; color:#fff; font-weight:400; background:#000; border-radius:25px; font-family:'Roboto';}
.section5 .orderViewList li em {display:block; font-size:36px; color:#000; line-height:1; font-weight:700; margin-top:19px;}
.section5.show .secTxt .secTit span:before {-moz-animation:twinkle .6s ease 2; -webkit-animation:twinkle .6s ease 2; animation:twinkle .6s ease 2;}
.section5.show .orderViewList:before {transform:translate(-50%, -50%); opacity:1; transition:.4s ease-in-out .85s;}
.section5.show .orderViewList li {transform:rotateY(0);}
.section5 .orderViewList li:nth-child(2) {transition-delay:.25s;}
.section5 .orderViewList li:nth-child(3) {transition-delay:.5s;}
.section5 .orderViewList li:last-child {transition-delay:.75s;}

/* section6 */
.section6 {background:#eff0f1;}
.section6 .secTxt .secTit span {position:relative; z-index:1; color:#01a8ba;}
.section6 .secTxt .secTit span:before {content:''; position:absolute; bottom:-4px; left:-10px; width:308px; height:116px; background:url('../images/common/bg_ico_check4.png') top center no-repeat; z-index:-1;}
.section6 .turnList {background:url('../images/common/bg_section6_img1.png') no-repeat 30px center / 4px 318px; margin-top:81px;} /* 23.01.17 이상아 수정*/
.section6 .turnList li {position:relative; padding-left:94px;}
.section6 .turnList li + li {margin-top:30px;}
.section6 .turnList li em {position:absolute; top:50%; left:0; transform:translateY(-50%); font-family:'Roboto'; width:64px; height:64px; text-align:center; font-size:33px; color:#fff; line-height:64px; font-weight:700; background:#000; border-radius:100%;}
.section6 .turnList li strong {display:block; font-size:32px; color:#000; line-height:105px; font-weight:700; background:#fff; border-radius:25px; padding-left:56px; box-shadow:0 0 15px rgba(0,0,0,.05);}
.section6 .turnList li strong a {display:inline-block; width:84px; height:46px; text-align:center; line-height:46px; font-size:22px; color:#000; font-weight:500; border:2px solid #000; border-radius:25px; margin-left:15px; transform:rotateY(90deg);}
.section6 .turnList li.kakao strong {background:#f7e000;}
.section6 .turnList li.kakao strong a {width:156px; background:#391f20; color:#fff;}
.section6 .turnList li.kakao strong a span {background:url('../images/common/bg_section6_img2.png') no-repeat left center; padding-left:34px;}
.section6.show .secTxt .secTit span:before {-moz-animation:twinkle .6s ease 2; -webkit-animation:twinkle .6s ease 2; animation:twinkle .6s ease 2;}
.section6.show .turnList li strong a, .section6.show .turnList li.kakao strong a {transform:rotateY(0); transition:.4s ease-in-out 1.2s;}

/* section7 */
.section7 .downWrap {height:60.78%; display:flex; align-items:center; background:#071e33;} /* 22.12.06 이현진 height 수정 */
.section7 .downWrap .downList li {position:relative; padding-left:166px; display:flex;}
.section7 .downWrap .downList li + li {margin-top:40px;}
.section7 .downWrap .downList li em {position:absolute; top:50%; left:0; transform:translateY(-50%); font-size:28px; color:#fff; line-height:1; font-weight:500;}
.section7 .downWrap .downList li a {position:relative; display:inline-block; width:298px; height:130px; line-height:130px; border-radius:15px; text-align:center; font-size:40px; color:#000; font-weight:900; background:#fff;
transform:translateX(-50px); opacity:0;}
.section7 .downWrap .downList li a + a {margin-left:30px;}
.section7 .downWrap .downList li a.phone {display:flex; flex-direction:column; justify-content:center; line-height:1;}
.section7 .downWrap .downList li a.phone i {font-style:normal;}
.section7 .downWrap .downList li a.phone strong {display:block; font-size:20px; color:#888; line-height:1; font-weight:400; margin-top:15px;}
.section7 .downWrap .downList li.marketDown a.phone i {color:#01a8ba;}
.section7 .downWrap .downList li.ownerDown a.phone i {color:#e97d3f;}
.section7 .downWrap .downList li a img {position:absolute; bottom:15px; right:15px;}
.section7 .cs {background:#d6edef; height:20.72%;} /* 22.12.06 이현진 height 수정 */
.section7 .cs .inner {display:flex; flex-direction:column; justify-content:center; align-items:center; height:100%;}
.section7 .cs .csTit {font-size:22px; color:#666; line-height:1; font-weight:400;}
.section7 .cs .csTit em {color:#000; font-size:26px; font-weight:700;}
.section7 .cs .tel {display:inline-block; width:278px; height:64px; background:#fff; border:1px solid #01a8ba; border-radius:50px; text-align:center; line-height:64px; margin-top:20px;}
.section7 .cs .tel span {font-family:'Roboto'; font-size:32px; color:#01a8ba; line-height:1; font-weight:700; padding-left:38px; background:url('../images/common/bg_ico_call.png') left center no-repeat;}
.section7.show .downWrap .downList li a {transform:translateX(0); opacity:1; transition:.3s ease;}
.section7.show .downWrap .downList li a:nth-of-type(2) {transition-delay:.2s;}
.section7.show .downWrap .downList li a:nth-of-type(3) {transition-delay:.4s;}
#footer {height:calc(100% - 81.5%);} /* 22.12.06 이현진 height 수정 */
#footer .inner {position:relative; display:flex; flex-direction:column; justify-content:center; height:100%;}
#footer .terms {font-size:0; margin-bottom:15px;}
#footer .terms a {position:relative; display:inline-block; font-size:14px; color:#000; line-height:1; font-weight:500; margin-right:24px;}
#footer .terms a:last-child:before {content:''; position:absolute; top:0; left:-12px; width:1px; height:100%; background:#ccc;}
#footer .address li {font-size:0;}
#footer .address li span {font-size:14px; color:#666; line-height:22px; font-weight:300;}
#footer .address li .line {display:inline-block; width:1px; height:13px; background:#ccc; margin:0 15px; vertical-align:-2px;}
#footer .snsWrap {position:absolute; top:50%; right:0; transform:translateY(-50%); font-size:0;}
#footer .snsWrap li {display:inline-block;}
#footer .snsWrap li + li {margin-left:11px;}
#footer .snsWrap li a {display:block; width:50px; height:50px; border:1px solid #cecece; border-radius:50%; background:url('../images/common/bg_sns1.png') no-repeat center;}
#footer .snsWrap li:nth-child(2) a {background:url('../images/common/bg_sns2.png') no-repeat center;}
#footer .snsWrap li:last-child a {background:url('../images/common/bg_sns3.png') no-repeat center;}
.btnTop {position:fixed; bottom:40px; right:40px; display:none; width:78px; height:78px; background:#fff url('../images/common/bg_ico_arr2.png') no-repeat center; border:1px solid #e1e1e1; border-radius:100%; box-shadow:5px 5px 10px rgba(0,0,0,.15);}

@-moz-keyframes scroll {
    0 {bottom:40px;}
    50% {bottom:30px;}
    100% {bottom:40px;}
}

@-webkit-keyframes scroll {
    0 {bottom:40px;}
    50% {bottom:30px;}
    100% {bottom:40px;}
}

@keyframes scroll {
    0 {bottom:40px;}
    50% {bottom:30px;}
    100% {bottom:40px;}
}

@-moz-keyframes shake {
    0 {transform:rotate(0);}
    25% {transform:rotate(1deg);}
    75% {transform:rotate(-1deg);}
    100% {transform:rotate(0);}
}

@-webkit-keyframes shake {
    0 {transform:rotate(0);}
    25% {transform:rotate(1deg);}
    75% {transform:rotate(-1deg);}
    100% {transform:rotate(0);}
}

@keyframes shake {
    0 {transform:rotate(0);}
    25% {transform:rotate(1deg);}
    75% {transform:rotate(-1deg);}
    100% {transform:rotate(0);}
}

@-moz-keyframes twinkle {
    0% {opacity:100%;}
    50% {opacity:0;}
    100% {opacity:100%;}
}

@-webkit-keyframes twinkle {
    0% {opacity:100%;}
    50% {opacity:0;}
    100% {opacity:100%;}
}

@keyframes twinkle {
    0% {opacity:100%;}
    50% {opacity:0;}
    100% {opacity:100%;}
}